html,
body,
#map {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
}
#info {
  padding: 1em;
  min-width: 20em;
  max-width: 20%;
  text-align: justify;
  overflow-y: auto;
}
#map {
  flex-grow: 1;
}
.maplibregl-popup {
  max-width: 100% !important;
  line-height: 1em;
}
table tr:nth-child(odd) {
  background-color: aliceblue;
}
.block {
  width: 1em;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.button {
  color: white;
  background-color: #008f00;
  border: 2px solid green;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.button:hover {
  background-color: green;
}
h3, h4, a.button {
  font-family: sans-serif;
}
/* https://github.com/watergis/maplibre-gl-legend/issues/22 */
.maplibregl-legend-close-button {
  display: none !important;
}
