@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';

html,
body {
  height: 100%;
  margin: 0;
}

.map {
    height: 100%;
    z-index: 0;
}

.map-wrap {
    flex-grow: 1;
}
#app-wrap {
    height: 100vh;
    overflow-y: hide;
}
#sidebar {
    width: 400px;
    overflow-y: auto;
    padding: 0 0.5rem;
}

.maplibregl-popup {
  max-width: 100% !important;
  line-height: 1em;
}
table tr:nth-child(odd) {
  background-color: aliceblue;
}

.wrapper {
  padding: 0.5rem;
}

h5, h3 {
  margin: 0;
  padding: 1rem 0;
}

.metadata h3 {
  padding: 0.2rem 0;
}

details summary + div {
  margin-left: 0.5rem;
  max-height: 200px;
  overflow-y: scroll;
}